<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>確認</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>確認</h1>
        <img id="preview" src="{{ image_src }}" alt="Preview" style="max-width: 100%; height: auto; margin-bottom: 20px;">
        <form id="uploadForm" enctype="multipart/form-data">
            <button type="button" class="custom-upload-button" onclick="window.history.back()">戻る</button>
            <button type="submit" class="custom-upload-button">アップロード</button>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const uploadForm = document.getElementById('uploadForm');
            uploadForm.addEventListener('submit', async function(event) {
                event.preventDefault();
                const imageSrc = "{{ image_src }}";
                const formData = new FormData();
                formData.append('image', imageSrc);

                const response = await fetch('/upload', {
                    method: 'POST',
                    body: formData
                });
                const result = await response.json();
                if (result.error) {
                    alert(result.error);
                } else {
                    window.location.href = '/result?data=' + encodeURIComponent(JSON.stringify(result));
                }
            });
        });
    </script>
</body>
</html>
