{% extends "layout.html" %}

{% block title %}検査記録{% endblock %}

{% block content %}
    <h1>過去の検査結果</h1>
    <div id="result-list">
        {% for result in results %}
        <div class="result-item">
            <p><strong>日付:</strong> {{ result.date.strftime('%Y年%m月%d日 %H:%M') }}</p>
            <p><strong>尿の色:</strong> {{ result.color }}</p>
            <p><strong>泡立ち:</strong> {{ result.foam }}</p>
            <p><strong>ユーザーID:</strong> {{ result.user_id }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
