<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>尿検査アプリ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>尿検査アプリ</h1>
        <button id="cameraButton" class="custom-upload-button">撮影する</button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const cameraButton = document.getElementById('cameraButton');
            const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

            cameraButton.addEventListener('click', function() {
                if (isMobile) {
                    window.location.href = '/camera';
                } else {
                    alert("この機能はモバイルデバイスでのみ使用できます。");
                }
            });
        });
    </script>
</body>
</html>
