<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ログイン</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flashes">
              {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
            <script>
              // メッセージが表示された後にセッションからフラッシュメッセージを削除
              fetch(window.location.href, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ clear_flash: true })
              });
            </script>
          {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </div>
            <div class="form-group-remember">
                {{ form.remember }} ログイン状態を保持する
            </div>
            <button type="submit" class="custom-upload-button">ログイン</button>
        </form>
        <div class="register-link">
            <p>アカウントをお持ちでないですか？ <a href="{{ url_for('register') }}">こちらで登録</a></p>
        </div>
    </div>
</body>
</html>
